[project]
	description = A Mac Keylayout to have direct access to numbers (without pressing shift key)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Akram Ben Aissi (akram)
[access "refs/for/refs/*"]
	read = group user/Akram Ben Aissi (akram)
	push = group user/Akram Ben Aissi (akram)
	label-Code-Review = -2..+2 group user/Akram Ben Aissi (akram)
	label-Verified = -1..+1 group user/Akram Ben Aissi (akram)
	rebase = group user/Akram Ben Aissi (akram)
	removeReviewer = group user/Akram Ben Aissi (akram)
	submit = group user/Akram Ben Aissi (akram)
[access "refs/heads/*"]
	read = group user/Akram Ben Aissi (akram)
	create = group user/Akram Ben Aissi (akram)
	push = +force group user/Akram Ben Aissi (akram)
	pushMerge = group user/Akram Ben Aissi (akram)
[access "refs/tags/*"]
	push = +force group user/Akram Ben Aissi (akram)
	pushTag = group user/Akram Ben Aissi (akram)
	pushSignedTag = group user/Akram Ben Aissi (akram)
